# Makefile for libutils
# Copyright (C) 2014 Sergey Kolevatov

###################################################################

VER := 0

APP_PROJECT := example

APP_BOOST_LIB_NAMES := system date_time

APP_THIRDPARTY_INCL_PATH =

APP_THIRDPARTY_LIBS = 
APP_THIRDPARTY_LIBS_PATH =

APP_SRCC = example.cpp

APP_EXT_LIB_NAMES = \
