# Makefile for libutils
# Copyright (C) 2014 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = utils

LIB_BOOST_LIB_NAMES := system date_time

LIB_SRCC = \
	boost_date_to_string.cpp \
	boost_epoch.cpp \
	boost_timezone.cpp \
	chrono_epoch.cpp \
	create_interval_filename.cpp \
	dummy_logger.cpp \
	epoch_to_string.cpp \
	findStringIC.cpp \
	sprintf.cpp \
	number_format.cpp \
	vformat.cpp \
	get_now_epoch.cpp \
	gen_random_string.cpp \
	gen_uuid.cpp \
	hex_codec.cpp \
	HTTPDownloader.cpp \
	logfile_writer.cpp \
	logfile_time.cpp \
	logfile_time_writer.cpp \
	logfile.cpp \
	match_filter.cpp \
	nonascii_hex_codec.cpp \
	read_config_file.cpp \
	regex_match.cpp \
	remove_extra_spaces.cpp \
	rename_and_backup.cpp \
	request_id_gen.cpp \
	set_this_thread_name.cpp \
	to_value.cpp \
	tune_wav.cpp \

LIB_EXT_LIB_NAMES = \
